In [1]:
from pandas import Series, DataFrame
import pandas as pd

In [2]:
data = {'语文': [68, 95, 98, 90,80], '数学': [65, 76, 86, 88, 90], '英语': [30, 98, 88, 77, 90]}
#df0 = DataFrame(data)
#print(df0)
df1 = pd.DataFrame(data, index=['张飞', '关羽', '刘备', '典韦', '许褚'], columns=['语文', '数学', '英语'])
print(df1)

    语文  数学  英语
张飞  68  65  30
关羽  95  76  98
刘备  98  86  88
典韦  90  88  77
许褚  80  90  90

In [3]:
df2 = df1.describe().loc[['mean','max','min','std']]
print(df2)

             语文         数学         英语
mean  86.200000  81.000000  76.600000
max   98.000000  90.000000  98.000000
min   68.000000  65.000000  30.000000
std   12.255611  10.440307  27.107195

In [4]:
df1['总分']=df1.sum(axis=1)
df1['名次']=df1['总分'].rank()
df1.sort_values('总分',ascending=0)

    语文  数学  英语   总分   名次
刘备  98  86  88  272  5.0
关羽  95  76  98  269  4.0
许褚  80  90  90  260  3.0
典韦  90  88  77  255  2.0
张飞  68  65  30  163  1.0