In [1]:
import pandas as pd

Step 1: Data Loading

In [75]:
data = pd.read_csv('car_complain.csv')
data.head(5)

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020-06-08,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020-06-08,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020-06-08,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020-06-08,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020-06-08,厂家受理

Step 2: Data Preprocessing

In [76]:
# Split types of problems
data = data.drop(labels='problem', axis=1).join(data.problem.str.get_dummies(','))
data.head(5)

,id,brand,car_model,type,desc,datetime,status,A11,A114,A12,...,N318,N319,O296,O326,O348,O354,Q322,Q323,Q349,Q350
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,2020-06-08,信息审核,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,2020-06-08,厂家受理,0,0,0,...,1,0,0,0,0,0,0,0,0,0

Step 3: Data Analysis

In [77]:
# Complains group by brand
df_brand = data.groupby(['brand'])['id'].agg(['count'])
df_brand.reset_index(inplace=True)

# Sort by the number of complains in desending order
df_brand = df_brand.sort_values('count', ascending=False)

# Print the top 10 brand with most complains
df_brand.head(10)

      brand  count
38     吉利汽车     96
8     一汽马自达     95
0     一汽-大众     52
9      上汽大众     36
1   一汽-大众奥迪     19
30     北京现代     18
50     广汽丰田     17
17     东风日产     16
12     上汽集团     15
44     奇瑞汽车     14

In [78]:
# Complains grouped by car model
df_model = data.groupby(['car_model', 'brand'])['id'].agg(['count'])
df_model.reset_index(inplace=True)

# Sort by the number of complains in desending order
df_model = df_model.sort_values('count', ascending=False)

# Print the top 10 car models with most complains
df_model.head(10)

    car_model  brand  count
190       阿特兹  一汽马自达     75
107        星越   吉利汽车     43
182        速腾  一汽-大众     22
206   马自达CX-4  一汽马自达     20
37         博越   吉利汽车     13
30        凯美瑞   广汽丰田     12
113        朗逸   上汽大众     12
100        探岳  一汽-大众     11
159        缤越   吉利汽车     11
171        迈腾  一汽-大众     10

In [85]:
import numpy as np

# Calculate the mean of complains of car models for each brand
df_mean = df_model.groupby(['brand'])['count'].agg([np.mean])
#df_mean.reset_index(inplace=True)

# Sort by the number of complains in desending order
df_mean = df_mean.sort_values('mean', ascending=False)

# Print the top 10 car models with most complains
df_mean.head(10)

              mean
brand
一汽马自达    47.500000
吉利汽车      9.600000
一汽-大众     8.666667
一汽大众      6.000000
广汽丰田      5.666667
上汽大众      3.600000
东风日产      3.200000
一汽-大众奥迪   3.166667
广汽本田      3.000000
东风雷诺      3.000000